*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
.class content{
    display:flex;
    width: 100vw;
    height: 100vh;
}

header{
    display:flex;
    background-color:#faa66d;
    height: 10vh;
}
ul{
    display:flex;
    
}
li{
    display:flex;
    line-height: 90px;
    padding-left: 100px;
    padding-right: 100px;

}

.banner-p{
    /* columns: 2; */
    background-image: url(img/foto-cap.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
}

.banner-p p{
    color: white;
    padding-top: 30%;
    font-size: 25px;  
    margin-left: 10%;
    
}
.banner-p span{
    display: block;
    margin-top: 3%;
    margin-left: 20%;
}
/* figure img{
    width: 100%;
    height: vh;
    border-radius: 6px;
    border: dotted white;
     */
}
main{
    background-color: aqua;
    height: 70vh;

}
section pra-voce{
    background-color:white;
    height:20vh ;
}
footer{
    display: flex;
    flex-direction: column: 1fr 1fr 1fr 1fr;
    background-color: yellow;
    height: 20vh;
}
footer li{
    display:flex;
    flex-direction: row: 4;
}